<%- include('header.ejs') %>
<title>About Us</title>


<div class="jumbotron1 text-center">
<h1>Submitty</h1> 
<p>Peer Grading System</p> 
<form class="form-inline" style="justify-content:center;">
  <div class="input-group">
    <input type="email" class="form-control" size="50" placeholder="Email" required >
    <div class="input-group-btn">
      <button type="button" class="btn btn-danger">Subscribe</button>
    </div>
  </div>
</form>
</div>


<div class="container-fluid1">
  <div class="row"  >
    <div class="col-sm-12" style="text-align: center;justify-content: center;">
      <h2>Members</h2>
      <h4>1- Ume Hani (271976)</h4> 
      <h4>2- Maha Shahwar (259519)</h4>   
      <h4>3- Hamdan Rashid (241778)</h4>   
      <h4>4- Maira Tariq (263021)</h4>        
    </div>
  </div>
</div>

<div class="container-fluid1 bg-grey1">
<div class="row">
  <div class="col-sm-41">
    <span class="glyphicon glyphicon-globe logo1"></span>
  </div>
 
  <div class="col-sm-8">
    <h2>Our Values</h2>
    <h4><strong>MISSION:</strong> Peer Grading platform</h4>      
    <p><strong>VISION:</strong> Enhance student learning through instant feedback on progress. </p>
  </div>
</div>
</div>


<div class="container-fluid1 text-center">
<h2>SERVICES</h2>
<h4>What we offer</h4>
<br>
<div class="row">
  <div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:20px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Peer Grading</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Peer Grading facility where classmates grade each other based on criteria</p>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class=" flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:20px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Teacher Account</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Teachers can create account and have different features.</p>
  </div>
 </div>
 <div class="col-xl-3 col-md-6" style="display:grid; text-align: center;"> 
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:20px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Student Account</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Students can create their own account to enroll in courses.</p>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:20px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Create Course</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Teachers can create courses and enroll students in them.</p>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:30px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Create Assignments</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Teachers can create assignments for students MCQ-based or peer-graded with deadlines.</p>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:30px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Enroll in Courses</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Students can enroll in courses.</p>
  </div>
</div>
<div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
  <div>
    <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
    <h4 style="padding-top:30px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Hard Work</h4>
    <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Students can solve assignments, check assignments and much more.</p>
  </div>
  </div>
  <div class="col-xl-3 col-md-6" style="display:grid; text-align: center;">
    <div>
      <span class="flex align-items-center justify-content-between" style="flex-grow:1; flex-basis: 100%"></span>
      <h4 style="padding-top:30px;width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Grades</h4>
      <p style="width: 225px;white-space: normal;border:none;font-size:20px;background-color:inherit;">Students can get almost instant feedback on their progress.</p>
    </div>
    </div>
</div>
</div>

<%- include('footer.ejs') %>
