
  <%- include('header.ejs') %>
  <title>About Us</title>
 

<div class="jumbotron text-center">
  <h1>Submitty</h1> 
  <p>Peer Grading System</p> 
  <form class="form-inline" style="justify-content:center;">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email" required >
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>


<div class="container-fluid">
    <div class="row"  >
      <div class="col-sm-12" style="text-align: center;justify-content: center;">
        <h2>Members</h2>
        <h4>1- Ume Hani (271976)</h4> 
        <h4>2- Maha Shahwar (259519)</h4>   
        <h4>3- Hamdan Rashid (241778)</h4>   
        <h4>4- Maira Tariq (263021)</h4>        
      </div>
    </div>
  </div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
   
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Peer Grading platform</h4>      
      <p><strong>VISION:</strong> Our vision </p>
    </div>
  </div>
</div>


<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>Peer Grading</h4>
      <p>Peer Grading facility</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>Teacher Account</h4>
      <p>Teachers can create account and have different features.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Student Account</h4>
      <p>Students can create their own account to enroll in courses.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>Create Course</h4>
      <p>Teachers can create courses and enroll students in them.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>Enroll in Courses</h4>
      <p>Students can enroll in courses.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Students can solve assignments, check assignments and much more.</p>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>

