<DOCTYPE HTML>
    <html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>
        <div class="container dashboardContainer" style="padding-bottom:0px;">
            <div class="row dashboardTop" style="padding-bottom:80px;">
                <div class="col-md-12">
                    <div class="row" style="margin-top:60px;text-shadow: 2px 1px 1px rgba(28,110,164,0.43);">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h2 class="text-center" style="color:#1C6EA4;">
                                Welcome <%=username%> !
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div> 
            </div>
            <div class="row" style="padding-bottom:20px;margin-top:10px;">
                <div class="col-md-12">
                    <div class="row " style="margin:0px">
                        <div class="col-md-3 courseContainer" style="height:100%;display:block">
                            <div class="">
                                <div class="dashboardButton"> 
                                    <form action="/profile" method="get">
                                        <button class="btn btn-lg button-primary">
                                            Profile
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <% if(status == 'Teacher'){%>
                                <div class="">
                                    <div class="dashboardButton"> 
                                        <form action="/createCourse" method="get">
                                            <button class="btn btn-lg button-primary">
                                                Add Course
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            <%}%>
                            <% if(status == 'Teacher'){%>
                                <div class="">
                                    <div class="dashboardButton"> 
                                        <form action="./enrollStudents" method="get">
                                            <button class="btn btn-lg button-primary">
                                                Enroll Students
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            <%}%>
                            <% if(status == 'Student'){%>
                                <div class="">
                                    <div class="dashboardButton"> 
                                        <form action="./enrollCourses" method="get">
                                            <button class="btn btn-lg button-primary">
                                                Explore Courses
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            <%}%>
                            <% if(status == 'Student'){%>
                                <div class="">
                                    <div class="dashboardButton"> 
                                        <form action="" method="get">
                                        <button class="btn btn-lg button-primary">
                                            See Grades
                                        </button>
                                        </form>
                                    </div>
                                </div>
                            <%}%>
                            <div class="">
                                <div class="dashboardButton"> 
                                    <form action="/logout" method="get">
                                        <button class="btn btn-lg button-primary">
                                            Log Out
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 courseContainer">
                            <div class="row" > 
                                <div class="col-md-12">
                                    <h1 class="text-center" >
                                        Your Courses
                                    </h1>
                                    <hr>
                                </div>
                            </div>
                            <div class="row" style="align-content:center;">
                                <% courses.forEach(function(course, i){%>
                                <div class="col-md-4 courseBlock">
                                    <form action="/coursePage" method="get">
                                        <input type="submit" class="dashboardButton" name="coursename" value='<%=course.coursename%>'readonly>
                                    </form>
                                    <hr>
                                    <p style="color:Black">'<%=course.description%>'</p>
                                </div>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </body>
</html>