<!DOCTYPE html>
<head>
    <title>Enroll Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
    crossorigin="anonymous">
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
    crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="styles/styles.css">
    <script>
      $('#enroll-button').click(function(){
          $('#enroll-button').val('Unenrolled');
          console.log("enroll");
    });
    </script>
   
    </head>
    <body style="background-color:whitesmoke">
        <div class="container" >
            <div class="top">
              <h2>Enroll Courses</h2>
            </div>
            <div class="row">
              <% courses.forEach(function(course, i){%>
                <form method="POST" action="/addname">
              <div class="shadow" style="background-color:mintcream;">
                <div class="col-md-12" >
                    <div class="col-md-2 enrollImageDiv" >
                        <img src="https://c8.alamy.com/comp/JPGNAA/pakistan-monument-islamabad-pakistan-JPGNAA.jpg" class="enrollImage col-md-10">
                      </div>
                  <div class="col-md-6" style="float: left">

                    <div class="col-md-12 enrollInputDivs">
                      <label class="enrollLabel">Teacher Name: </label>
                      <input type="text" name="username" value='<%=course.username%>' class="enrollInput" readonly> 
                    </div>

                    <div class="col-md-12 enrollInputDivs">
                      <label class="enrollLabel" >Course Name: </label>
                      <input type="text" name="coursename" value='<%=course.coursename%>' class="enrollInput" readonly>
                    </div>

                    <div class="col-md-12">
                      <label class="enrollLabel" >Discription:</label>
                      <p class="enrollInput"><%=course.description%></p>
                    </div>

                </div>

                  <div class="col-md-4 enrollDivs">  

                    <div class="col-md-12 enrollButtons">
                    <input id="enroll-button" type="submit" value="Enroll">
                    </div>

                  </div>

                </div>
              
                <div class="clearfix"></div>
                <hr /> 
            </div></form>
            <%})%>
          </div></div>
    </body>
