<%- include('header.ejs') %>
<h1 class="mt-4">FAQ</h1>                 
<div class="row">
    <div class="col-md-12">
    <div>
        <div class="row" > 
            <div class="col-md-12">
                <hr>
                <h1 class="text-muted" style="font-size: 28px;">
                    Got any queries? We are happy to help!
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">				
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Why choose Submitty? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Submitty is one-of-a-kind, unique grading system where students and teachers can collaborate their tasks. With its simple yet elegant design, Submitty not only provides an ideal management system to its users but also helps them stay up-to-date with their dues. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Who owns Submitty? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Submitty is under the combined ownership of its four shareholders : Ms. Maira Tariq, Ms. Ume Hani and Ms. Maha Shahwar. The four owners equally share the rights to Submitty under the copyright BGIC 2021.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How to use Submitty as a Teacher? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Every user must first register their account on the platform with their status as either Teacher or Student. Teachers are then directed to their dashboards when they login to the application where our system allows for various tasks such as addition of new courses, enrollment of students, creation of assignments and the check on students' performance. An assignment can be a peer graded assignment or a automatic graded assignment. Furthermore, there are both options for creation of assignments: MCQ based and PDF based. The interface is very easy to follow; however, in case of any issues, feel free to contact our HR team for assistance.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How to use Submitty as a Student?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Every user must first register their account on the platform with their status as either Teacher or Student. Once logged in, a student is directed to his/her dashboard where they can explore new courses and request enrollments. When a teacher accepts a student's enrollment, he/she can display the course on their dashboards. Every course card on the dashboard leads to the course page which dsplays all assignments for that particular course. Students can make their assignment submissions from there onwards. In case the assignment is peer-graded, the student must first submit his/her own assignment after which they will be alloted another student's assignment to grade. To establish fairness, students are not informed of who they are grading for. In case of MCQ based assignments, a student can fill their assignment on our platform directly. They can also view their previous grades by revisiting their assignments after a teacher has graded them completely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->		
        </div><!--- END ROW -->	
    </div>    
</div>
<%- include('footer.ejs') %>