body{

    height:100%;
}
.border{
    border:2px solid black;

}
.signup{
    position:absolute;
    top:100px;
    margin:20px;
    padding:30px;

}
.login{
    display:flex;
    align-items: center;
    justify-content: center;
    height:600px;
}
.login-header{
    padding:5px;
    box-shadow: 1px 1px 5px lightsteelblue;
    border-radius:5%;
    text-align: center;
}
.title-signup{
    margin-bottom:100px;
}
a{
    text-decoration: none;
}